<!DOCTYPE html>
<html>
<head>
  <title>Homepage of microcontrollers</title>
</head>
<body>
  <h1>Welcome to Station control room</h1>
  <p><a href="{% url 'view_data_available' %}">/view_data_available</a> to see columns you can request.</p>
  <p><a href="{% url 'request_data' %}">/request_data</a> to request columns, requires JSON package.</p>
  <p><a href="{% url 'view_stations_available' %}">/view_stations_available</a> to request all available stations.</p>
  <p>All 3 return JSON packets, </p>

</body>
</html>
